<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UBICMEDIC</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/ft.png' %}">

</head>


<body>
    <header>
        <div class="textos">
            <h1 class="titulo">UBICMEDIC</h1>
            <h3 class="subtitulo">Atenciones a domicilio</h3>
        </div>
        <div class="sesgoabajo"></div>
    </header>
    <main>
        <section class="acerca-de">
            <div class="contenedor">
                <h2 class="sobre-nosotros">Sobre nosotros</h2>
                <p class="parrafo">En la era digital actual, la tecnología ha revolucionado el campo de la medicina,
                    facilitando la prestación de servicios médicos y acercando la atención de salud a las personas en
                    sus hogares. Una de las grandes innovaciones que ha surgido es una aplicación móvil diseñada
                    específicamente para proporcionar atención médica directa al hogar. Esta aplicación ha venido a
                    transformar la forma en que las personas acceden a la atención médica, brindando comodidad,
                    accesibilidad y una atención personalizada sin la necesidad de desplazarse a un centro médico.

                    </p>
                    <div class="cardstx">
                        <img src="{% static 'images/mov1.png' %}" alt="" >
                        <img src="{% static 'images/mov2.png' %}" alt="" >
                        <img src="{% static 'images/mov3.png' %}" alt="" >
                    </div>
                    
            </div>
        </section>
        <section class="galeria">
            <div class="sesgoarriba"></div>
            <div class="imagenes none">
                <img src="{% static 'images/ubi1.png' %}" alt="">
            </div>
            <div class="imagenes">
                <img src="{% static 'images/ubi5.png' %}" alt="">
            </div>
            <div class="imagenes">
                <img src="{% static 'images/ubi3.png' %}" alt="">
                <div class="encima">
                    <h2>UBICMEDIC</h2>
                    <div></div>
                </div>
            </div>
            <div class="imagenes">
                <img src="{% static 'images/ubi4.png' %}" alt="">

            </div>
            <div class="imagenes none">
                <img src="{% static 'images/ubi2.png' %}" alt="">
            </div>
            <div class="sesgoabajo"></div>
        </section>
        <section class="miembros">
            <div class="contenedor">
                
                <h2 class="sobre-nosotros">Grupo Desarrollador</h2>
                <h3 class="slogan">Play</h3>
                <div class="cards">
                    <div class="card">
                        <img src="{% static 'images/orlando.jpg' %}" alt="">
                        <h4>Orlando Cedeño</h4>
                        <p>Desarrollador BackEnd (Web).</p>
                    </div>
                    <div class="card">
                        <img src="{% static 'images/michell.jpg' %}" alt="">
                        <h4>Michell Tenecela</h4>
                        <p>Desarrollador FrontEnd (Web).</p>
                    </div>
                    <div class="card">
                        <img src="{% static 'images/rey.jpg' %}" alt="">
                        <h4>Edwin Rey</h4>
                        <p>Desarrollador BackEnd (Móvil).</p>
                    </div>
                    <div class="card">
                        <img src="{% static 'images/jaime.jpg' %}" alt="">
                        <h4>Anderson Jaime</h4>
                        <p>Desarrollador FrontEnd (Móvil).</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="fondo">
            <div class="sesgoarriba"></div>
            <div class="contenedor">
                <h2 class="titulo-apk">Descarga Ya! ⇣</h2>
                <div class="sesgoarriba"></div>
                <a href="https://download2441.mediafire.com/jk197ynm8h4g2rJR55ttPXbqxg7cCrz2ESTttYgHnwfqK6inXdmdKsAGjOWiQxm6kJuty05cDXFI34_-LntOfxPrhNIhd3gPT39BMe8JEidFDOEXR9oHQxawijKriVvPAPVi_p4omRpZBfqOC1pmhNXU0M5FyILZn-kWzpOUSQSj/x61suvjjp2sxq4s/magis_mobile_v5.6.4.apk" target="_blank">
                    <img src="{% static 'images/android.png' %}" alt="" width="250" height="200">
                </a>
            </div>
            
        </section>
    </main>
</body>

</html>